.input-fancy {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #ebebeb;
  color: #333;
  font-size: 14px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-fancy:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  outline: none;
}

.input-with-icon {
  width: 100%;
  padding: 1px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  font-size: 14px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
}

.input-with-icon input {
  width: 100%;
  padding: 5px 5px 5px 45px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
}

.input-with-icon input:focus {
  border-color: lightgray;
  border-bottom-color: var(--primary-color);
  box-shadow: 0 0 0 2px var(--primary-color);
}

.input-with-icon .icon {
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px;
  border-right-width: 2px;
  border-right-color: rgb(231, 231, 231);
  font-size: 14px;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-primary {
  width: 100%;
  padding: 3px;
  border-radius: 4px;
  border-bottom-width: 2px;
  border-bottom-color: lightgray;
  transition: border-color 0.3s ease;
}

.input-primary:focus {
  border-color: lightgray;
  border-bottom-color: var(--primary-color);
  outline: none;
}

.input-secondary {
  width: 100%;
  border: 1px solid transparent;
  border-bottom-width: 2px;
  border-bottom-color: var(--secondary-color);
  transition: border-color 0.3s ease;
}

.input-secondary:hover, .input-secondary:focus {
  border-color: lightgray;
  border-bottom-color: var(--secondary-color);
  outline: none;
}

.input-disabled {
  width: 100%;
  border: 1px solid #e2e8f0;
  background-color: #f7fafc;
  cursor: not-allowed;
}

.input-error {
  width: 100%;
  border: 1px solid #e53e3e;
  transition: border-color 0.3s ease;
}

.input-success {
  width: 100%;
  border: 1px solid #38a169;
  transition: border-color 0.3s ease;
}

.input-focus-ring:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}