:root {
    --primary-color: var(--primary-color);
    --title-color: var(--title-color);
    --background-color: var(--background-color);
    --sidebar-color: var(--sidebar-color);
    --font-size: var(--font-size);
    --font-family: var(--font-family);
  }